{{!--
Re-usable card for linking to posts
--}}

<article class="gh-card {{post_class}}">
        <div class="gh-card-content">
            <div class="gh-card-meta"><time datetime="{{date format="YYYY-MM-DD"}}">{{date format="D MMM YYYY"}}</time> 
                <span class="bull">&bull;
                </span> 
                {{reading_time}} &nbsp; 
            </div>
            <div>
            <a class="gh-card-title" href="{{url}}">{{title}}  </a>&nbsp;<span class="card-tag-destacado">destacado</span>
            </div>
{{!--
            <p>{{excerpt}}</p>
                            

            <a class="gh-content a" href="{{url}}">Read more</a>
            --}}
        </div>
</article>

{{!--
                    <a class="card-tag-{{primary_tag.name}}" href="{{primary_tag.url}}">{{primary_tag.name}}</a>
--}}