{{!< default}}


{{#page}}
<article class="gh-article {{post_class}}"> 
   
    <div class="gh-content gh-canvas">
        <div class="container">
            <img class="img" src="{{@site.logo}}" alt="{{@site.title}}"/>
            <h4>{{@site.title}}</h4>
            <p style="color: rgb(165, 165, 165); font-size: 1rem ;">
                {{@site.description}}
            </p>
        </div>  
        
        {{content}}
    </div>
</article>
{{/page}} 